.content-wrapper,
.right-side {
  background-color: #ffffff;
}
.fieldgroup{
        border: solid;
        border-width: 0.7px;
        border-color: #cccccc;
        border-radius: 20px;
        padding: 8px;
}
.fieldlegend{
    font-size: 15px;
    color: #A9A9A9;
}

#res_panel{
        color: red;
        margin-top: 15px;
}

#vis_panel{
        /*color: red;
        margin-top: 15px;*/
}

#prov_well{
  margin-top: 170px;
}


.main-sidebar{
        width: 200px;
}

#province_title{
  text-align: center;
}

#province_subtitle{
        text-align: center;
        
}