.main-header .logo{
  font-size: 18px;
  padding: 5px 15px;
  line-height: normal;
} 



.content-wrapper, .right-side {
  background-color: #ffffff;
}
.fieldgroup{
        border: solid;
        border-width: 0.7px;
        border-color: #cccccc;
        border-radius: 20px;
        padding: 8px;
}
.fieldlegend{
    font-size: 15px;
    color: #A9A9A9;
}

#res_panel{
        color: red;
        margin-top: 15px;
}

#vis_panel{
        /*color: red;
        margin-top: 15px;*/
}

#prov_well{
  margin-top: 170px;
}


.main-sidebar{
        width: 200px;
}

#region_title, #province_title{
  text-align: center;
  
}

#province_subtitle{
        text-align: center;
        
}


.irs .irs-bar {
border-top-color: red;
border-bottom-color: red;
} 

.irs .irs-bar-edge {
border-color: red;
}

.irs .irs-single, .irs .irs-bar-edge, .irs .irs-bar {
background: red;
}

.well {
  margin-top: 20px;
}

